<nav class="navbar navbar-default" style="height: 80px; background-color: rgb(15, 63, 130)">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <svg-icon alt="Brand" src="../../assets/images/logo-almundo.svg"></svg-icon>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <mat-card><h4 class="bold-title">Filtros</h4></mat-card>
        <br>
        <hotel-name-filter (onSearchName)="onSearchName($event)"></hotel-name-filter>
        <br>
        <hotel-star-filter (onStarsSelected)="onStarsSelected($event)"></hotel-star-filter>
        <br>
    </div>
    <div class="col-md-9">
        <hotel-list [hotelArray]="hotels"></hotel-list>
    </div>
  </div>
</div>

